.epl-main a,
.epl-footer a {
  color: #8a713a;
  font-weight: bold;

  &:hover,
  &:focus {
    color: #d6a32a;
  }
}
.epl-main {
  margin-block-end: 3rem;
  font-size: 1.1rem;
  color: #d1d1d1;
}
.epl-footer {
  inline-size: max-content;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 0.5rem;

  font-size: 1.2rem;
  font-weight: bold;

  color: #f5f5f5;

  border-radius: 1rem;
  border-block: 1px solid #d6a32a;

  & a {
    font-size: 1.3rem;
  }
}

.epl-title {
  inline-size: max-content;
  margin-inline: auto;
  margin-block-end: 2rem;

  font-size: 2.5rem;
  color: #d6a32a;
}
.epl-section_no-details {
  padding: 0.3rem;
  inline-size: max-content;
  margin-inline: auto;

  font-size: 1.4rem;
  font-weight: bold;
}
.epl-section_details {
  margin-block: 2rem;

  padding: 0 1rem 1rem 1rem;
  border-radius: 1rem;
  border: 1px solid #8a713a;

  line-height: 2rem;

  & > details[open] {
    & > summary {
      inline-size: max-content;
      background-color: #202124;

      margin-block: -0.5rem 1.5rem;
      margin-inline: 0.5rem 0;

      padding-inline: 0.5rem 0;

      color: #d6a32a;

      & h2 {
        margin-block: -1.9rem 0;
        margin-inline: 1rem 0;

        border-inline-end: 1px solid #8a713a;

        padding-inline: 0 1rem;
      }

      &:hover {
        color: #8a713a;
        cursor: pointer;
      }
      &:focus {
        color: #8a713a;
      }
    }
    & > summary + p {
      font-weight: bold;
      font-size: 1.5rem;
      justify-self: center;
      margin-block-end: 2rem;
      color: #d6a32a;
    }
  }

  & > details:not([open]) > summary {
    border: none;
    margin-block: 2rem 0;
    color: #8a713a;

    & h2 {
      margin-block: -1.8rem 0.5rem;
      margin-inline: 1rem 0;
      inline-size: max-content;
    }

    &:hover {
      color: #d6a32a;
      cursor: pointer;
    }
    &:focus {
      color: #d6a32a;
    }
  }
}
