.wrapper {
  font-family: Arial, Helvetica, sans-serif;
}
.symbol {
  color: var(--filament-color);

  font-size: 2rem;
  text-align: center;
}
.title {
  padding-block-end: 1rem;

  color: #d4d6c9;

  font-size: 1.5rem;
  text-align: center;
}

.text {
  color: #ced1d4;
  font-size: 1.1rem;
}

.list {
  line-height: 2rem;
}

.anchor {
  color: rgb(127, 171, 212);

  &:active {
    color: red;
  }
  &:hover {
    color: var(--filament-color);
  }
  &:focus-visible {
    outline: 2px solid var(--filament-color);
    margin-inline-start: 5px;
    padding: 5px;
    color: var(--filament-color);
    text-decoration: none;
  }
}

.coming {
  font-weight: "bold";
  color: #ad9332ff;
}
.temporary {
  font-weight: "bold";
  color: #d6c37ccc;
}
