.wrapper {
  display: flex;
  gap: 2rem;

  background: transparent;
}
.anchor {
  box-sizing: content-box;
  inline-size: 44px;
  block-size: 44px;

  padding: 10px;

  border-radius: 44px;
  border: 1px solid rgba(70, 65, 23, 0.712);

  color: var(--text-user-blur-color);
  background-color: #21252b;
  outline: none;

  &:hover,
  &:focus {
    transform: scale(105%);
    color: var(--filament-color);
    border: 3px solid var(--filament-color);
    box-shadow:
      inset 0px 0px 15px rgb(var(--light-second-color), var(--light-opacity-on)),
      inset 0px 0px 5px rgb(var(--light-first-color), var(--light-opacity-on)),
      0 0 15px rgb(var(--light-first-color), var(--light-opacity-on)),
      0 0 5px rgb(var(--light-second-color), var(--light-opacity-on));
  }

  &:active {
    color: black;
    background-color: var(--filament-color);
  }
}
