.nav {
  padding: 30px;

  box-shadow:
    inset 2px 2px 8px var(--searchWrapper-shadow-bottom-color),
    inset -5px -5px 4px #191c22;

  background-color: #1a1d22;
  border: 1px solid #2b230d;
}
.list {
  padding: 0;
  margin: 0;

  list-style: none;

  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, var(--provider-height));
  grid-auto-columns: var(--provider-width);
  gap: 0.7rem;
}
.element {
  display: inline-block;
  inline-size: 100%;
  block-size: 100%;

  border-radius: 3px;

  border-inline-start: 5px solid var(--filament-off-color);

  background: #22252b;

  font-size: var(--text-size);
  color: #e2e1e1;
  text-decoration: none;

  align-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  &:focus {
    outline: none;
    color: var(--filament-color);
    border: 1px solid var(--filament-color);
    border-inline-start-width: 7px;

    box-shadow:
      inset 2px 0px 5px 0px rgb(var(--light-first-color), var(--light-opacity-on)),
      0px 0px 10px 1px rgb(var(--light-first-color), var(--light-opacity-on)),
      0px 0px 10px 1px rgb(var(--light-second-color), var(--light-opacity-on));
  }

  &:hover {
    background: #2b2b29;
    border-inline-start: 9px solid var(--filament-off-color);
  }
  &:focus:hover {
    background: #22252b;
    border-inline-start: 12px solid var(--filament-color);
  }
  &:visited {
    color: rgb(138, 113, 58);
    font-weight: bold;
  }
}

.list .element:active {
  background: var(--filament-color);
  color: #22252b;
  font-weight: bold;
}
