.nav {
  padding: 30px;

  box-shadow: 2px 2px 8px var(--dark-shadow-color) inset;

  background-color: #1a1d22;
  border: 1px solid #2b230d;
}
.list {
  padding: 0;
  margin: 0;

  list-style: none;

  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, var(--provider-height));
  grid-auto-columns: var(--provider-width);
  gap: 0.7rem;
}
