.list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, var(--provider-height));
  grid-auto-columns: var(--provider-width);
  gap: 0.3rem;

  list-style: none;
}
.element {
  inline-size: 100%;
  block-size: 100%;

  border-radius: 3px;

  border: 1px solid var(--filament-off-color);
  border-inline-end-color: transparent;
  border-block-start-color: transparent;

  background: #22252b;

  font-size: var(--text-size);
  color: #e2e1e1;

  &:focus {
    position: relative;
    z-index: 1;

    outline: none;
    color: var(--filament-color);
    border-color: var(--filament-color);
    border-inline-start-width: 4px;
    border-block-end-width: 2px;

    box-shadow:
      inset 3px -3px 5px 0px rgb(var(--light-first-color), var(--light-opacity-on)), inset 2px 0px 5px 0px
      rgb(var(--light-second-color), var(--light-opacity-on)),
      0px 0px 7px 0px rgb(var(--light-first-color), var(--light-opacity-on)), 0px 0px 7px 0px
      rgb(var(--light-second-color), var(--light-opacity-on));
  }
  &:hover {
    background: #3c4250;
    cursor: pointer;
  }
}
