.wrapper {
  inline-size: 97dvw;
  margin-inline: auto;

  padding-block: 2vh;
  padding-inline: 1rem;

  border-radius: 1.6rem;
  border: 1px solid rgba(72, 96, 133, 0.199);
  border-block-end: none;

  background-color: #23272f7e;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.search-box {
  inline-size: 100%;

  border-radius: 1rem;
  padding: 0.3rem;

  background: linear-gradient(169deg, #202124, #14161a);

  color: var(--text-user-blur-color);

  display: flex;
  align-items: center;
  gap: 0.3rem;

  &:focus-within {
    color: var(--filament-color);
  }
}

.input {
  block-size: var(--search-size);
  border: 1px solid transparent;
  border-radius: 0.8rem 0 0 0.8rem;

  background-color: var(--search-color);
  box-shadow:
    inset 5px 5px 10px var(--searchWrapper-shadow-top-color),
    inset -5px -5px 10px var(--searchWrapper-shadow-bottom-color),
    var(--light-out-position) rgb(var(--light-first-color), var(--light-opacity-off)),
    var(--light-out-position) rgb(var(--light-second-color), var(--light-opacity-off));

  flex: 1 1 auto;

  padding-inline-start: 1rem;
  font-size: var(--text-size);
  caret-color: var(--filament-color);
  color: var(--text-user-blur-color);

  transition: all 0.3s ease-in-out;

  &::placeholder {
    color: var(--text-placeholder-color);
  }

  &:focus,
  &:hover {
    border-color: var(--filament-color);
    box-shadow:
      var(--light-inset-position) rgb(var(--light-second-color), var(--light-opacity-on)),
      var(--light-inset-position) rgb(var(--light-first-color), var(--light-opacity-on)),
      var(--light-out-position) rgb(var(--light-first-color), var(--light-opacity-on)),
      var(--light-out-position) rgb(var(--light-second-color), var(--light-opacity-on));
  }

  &:focus {
    outline: none;
    color: var(--text-user-focus-color);
  }
}
.wrapper:has(.dialog[open]) {
  border: none;
  border-block-end: 1px solid #46381d73;
  background-color: #23272f7e;

  & > .search-box {
    background: linear-gradient(169deg, #23272f, #161a1f);
  }
  & .input {
    color: #614f2a;
  }
}

.input:where(:-webkit-autofill, :autofill) {
  -webkit-text-fill-color: var(--text-user-blur-color) !important;
  border: 1px solid var(--search-color) !important;

  box-shadow:
    var(--input-glow-internal-off), var(--input-volume), var(--autofill-cover), var(--input-glow-external-off) !important;
  -webkit-box-shadow:
    var(--input-glow-internal-off), var(--input-volume), var(--autofill-cover), var(--input-glow-external-off) !important;

  &:hover {
    border-color: var(--filament-color) !important;

    box-shadow:
      var(--input-glow-internal-on), var(--input-volume), var(--autofill-cover), var(--input-glow-external-on) !important;
    -webkit-box-shadow:
      var(--input-glow-internal-on), var(--input-volume), var(--autofill-cover), var(--input-glow-external-on) !important;
  }

  &:focus,
  &:focus:hover {
    -webkit-text-fill-color: var(--text-user-focus-color) !important;

    border-color: var(--filament-color) !important;

    box-shadow:
      var(--input-glow-internal-on), var(--input-volume), var(--autofill-cover), var(--input-glow-external-on) !important;
    -webkit-box-shadow:
      var(--input-glow-internal-on), var(--input-volume), var(--autofill-cover), var(--input-glow-external-on) !important;
  }
}
.wrapper:has(.dialog[open]) .input:where(:-webkit-autofill, :autofill) {
  -webkit-text-fill-color: #614f2a !important;
}

.input:enabled:read-write:where(:focus, :hover)::-webkit-search-cancel-button {
  appearance: none;
  cursor: pointer;

  inline-size: 32px;
  block-size: 20px;
  margin: 5px;
  border-inline-start: 2px solid grey;

  background: url(../assets/icon-cancel-off.svg) center no-repeat;
}
.input:enabled:read-write:where(:focus, :hover)::-webkit-search-cancel-button:hover {
  background: url(../assets/icon-cancel-on.svg) center no-repeat;
}

.btn {
  inline-size: var(--search-size);
  block-size: var(--search-size);

  background-color: transparent;

  border: 1px solid var(--filament-off-color);
  border-radius: 0 0.8rem 0.8rem 0;
  color: inherit;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    border-color: var(--filament-color);
    box-shadow:
      var(--light-inset-position) rgb(var(--light-second-color), var(--light-opacity-on)),
      var(--light-inset-position) rgb(var(--light-first-color), var(--light-opacity-on)),
      var(--light-out-position) rgb(var(--light-first-color), var(--light-opacity-on)),
      var(--light-out-position) rgb(var(--light-second-color), var(--light-opacity-on));
  }

  &:hover {
    color: var(--filament-color);
  }

  & svg {
    inline-size: 1.6rem;
  }
}

.dialog {
  position: static;
  border: 1px solid rgb(48, 48, 48);

  padding: 4px;

  box-shadow: 0px 0px 18px 1px var(--searchWrapper-shadow-bottom-color);

  background-color: #202329;

  &:focus-within,
  &:hover {
    border-color: var(--filament-color);

    box-shadow:
      inset 0px 0px 15px rgb(var(--light-second-color), var(--light-opacity-on)),
      inset 0px 0px 5px rgb(var(--light-first-color), var(--light-opacity-on)),
      0 0 5px rgb(var(--light-first-color), var(--light-opacity-on)),
      0 0 5px rgb(var(--light-second-color), var(--light-opacity-on));
  }
}
