.modal:modal {
  margin: auto;

  border: none;
  outline: none;

  max-width: 100dvw;
  max-height: 97dvh;

  padding: 0;
}
.modal::backdrop {
  background-color: var(--backdrop-color);
  backdrop-filter: contrast(50%) blur(4px) brightness(40%) grayscale(85%);
}

.modal-info:modal {
  padding-block: 3dvh;
  padding-inline: 2dvw;

  inline-size: max-content;

  border: 2px solid var(--filament-color);
  background-color: var(--modal-background-utils);

  font-family: Arial, Helvetica, sans-serif;
}
.modal-alert:modal {
  padding-inline: 2dvw;
  padding-block: 2dvh;

  inline-size: max-content;

  border: 2px solid grey;
  background-color: var(--modal-background-utils);
}

.modal-load:modal {
  padding-block: 2dvh;
  padding-inline: 4dvw;

  border: 2px solid rgb(56, 56, 56);
  background-color: var(--modal-background-utils);
}

.modal-app:modal {
  inline-size: 100%;
  min-inline-size: 400px;

  background-color: var(--modal-background-app);

  border-radius: var(--modal-border-radius);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10dvh;

  overflow: auto;
  scrollbar-color: #a89652 #2c2c2c;
}
