.dialog:modal {
  margin: auto;

  border: none;
  outline: none;

  max-width: 100dvw;
  max-height: 97dvh;

  padding: 0;
}
.dialog::backdrop {
  background-color: #23272f70;
  backdrop-filter: contrast(50%) blur(4px) brightness(40%) grayscale(85%);
}

.dialog-info:modal {
  padding-block: 3dvh;
  padding-inline: 2dvw;

  inline-size: max-content;

  border: 2px solid var(--filament-color);
  background-color: #202124;
}
.dialog-alert:modal {
  padding-inline: 2dvw;
  padding-block: 2dvh;

  inline-size: max-content;

  border: 2px solid grey;
  background-color: #202124;
}

.dialog-load:modal {
  padding-block: 2dvh;
  padding-inline: 4dvw;

  border: 2px solid rgb(56, 56, 56);
  background-color: #202124;
}

.dialog-app:modal {
  inline-size: 100%;
  min-inline-size: 400px;

  padding-block: 10px;

  background-color: #181b20c2;
  box-shadow: 0px 0px 40px 6px var(--searchWrapper-shadow-bottom-color);

  border-radius: 1.7rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10dvh;

  overflow: auto;
  scrollbar-color: #a89652 #2c2c2c;
}
