:root {
  --layout-tab-color: #101215;
  --search-color: #23272f;
  --searchWrapper-shadow-top-color: #383e4b;
  --searchWrapper-shadow-bottom-color: #0e1013;
  --search-size: 3rem;
  --light-out-position: 0px 0px 20px;
  --light-inset-position: inset 0px 0px 10px;
  --light-first-color: 255, 213, 59;
  --light-second-color: 255, 102, 0;
  --light-opacity-off: 0%;
  --light-opacity-on: 50%;
  --text-size: 1rem;
  --filament-color: #ffd43b;
  --text-user-focus-color: #ffffff;
  --text-user-blur-color: #7c827f;
  --text-placeholder-color: #6d6d6d;
  --provider-width: 170px;
  --provider-height: 2.6rem;

  --filament-off-color: #685b2ecc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  background-color: var(--layout-tab-color);

  width: 100vw;
  height: 100vh;

  position: fixed;
  inset: 0;
  overflow: auto;

  align-content: end;
}

.extension {
  width: 90vw;
  height: 60vh;
  min-width: 345px;

  margin-block-end: 15vh;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}
.main {
  min-height: 310px;
}
.footer {
  width: 100%;

  padding-inline-end: 60px;

  display: flex;
  align-items: end;
  justify-content: end;
  gap: 2rem;

  & a {
    width: 35px;
    height: 35px;

    color: var(--text-user-blur-color);

    &:hover,
    &:focus {
      color: var(--filament-color);
      transform: scale(110%);
    }
    &:focus {
      outline: 3px solid var(--filament-color);
    }
  }
}
.form {
  width: 100%;
}
.searchWrapper {
  width: 100%;

  border-radius: 1rem;
  padding: 0.3rem;

  background: linear-gradient(173deg, var(--search-color) 0%, #14161a 100%);
  box-shadow: 10px 10px 20px var(--searchWrapper-shadow-bottom-color), -10px -10px 40px
    var(--searchWrapper-shadow-top-color);

  color: var(--text-user-blur-color);

  display: flex;
  align-items: center;
  gap: 0.3rem;

  &:focus-within {
    color: var(--filament-color);
  }
}

.searchBox {
  height: var(--search-size);
  border: 1px solid transparent;
  border-radius: 0.8rem 0 0 0.8rem;

  background-color: var(--search-color);
  box-shadow:
    inset 5px 5px 10px var(--searchWrapper-shadow-top-color),
    inset -5px -5px 10px var(--searchWrapper-shadow-bottom-color),
    var(--light-out-position) rgb(var(--light-first-color), var(--light-opacity-off)),
    var(--light-out-position) rgb(var(--light-second-color), var(--light-opacity-off));

  flex: 1 1 auto;

  padding-inline-start: 1rem;
  font-size: var(--text-size);
  caret-color: var(--filament-color);
  color: inherit;

  transition: all 0.3s ease-in-out;

  &::placeholder {
    color: var(--text-placeholder-color);
  }

  &:focus,
  &:hover {
    border-color: var(--filament-color);
    box-shadow: var(--light-inset-position) rgb(var(--light-second-color), var(--light-opacity-on)),
      var(--light-inset-position) rgb(var(--light-first-color), var(--light-opacity-on)), var(--light-out-position)
      rgb(var(--light-first-color), var(--light-opacity-on)), var(--light-out-position)
      rgb(var(--light-second-color), var(--light-opacity-on));
  }
  &:focus {
    outline: none;
    color: var(--text-user-focus-color);
  }
}
input[type="search" i]:enabled:read-write:where(:focus, :hover)::-webkit-search-cancel-button {
  appearance: none;
  cursor: pointer;

  width: 32px;
  height: 20px;
  margin: 5px;
  border-inline-start: 2px solid grey;
  background-image: url(./icons/icons8-cancel-off.svg);
  background-repeat: no-repeat;
  background-position: center;
}
input[type="search" i]:enabled:read-write:where(:focus, :hover)::-webkit-search-cancel-button:hover {
  background-image: url(./icons/icons8-cancel-on.svg);
}

.searchBtn {
  width: var(--search-size);
  height: var(--search-size);

  background-color: transparent;

  border: 1px solid var(--filament-off-color);
  border-radius: 0 0.8rem 0.8rem 0;
  color: inherit;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    border-color: var(--filament-color);
    box-shadow: var(--light-inset-position) rgb(var(--light-second-color), var(--light-opacity-on)),
      var(--light-inset-position) rgb(var(--light-first-color), var(--light-opacity-on)), var(--light-out-position)
      rgb(var(--light-first-color), var(--light-opacity-on)), var(--light-out-position)
      rgb(var(--light-second-color), var(--light-opacity-on));
  }

  &:hover {
    color: var(--filament-color);
  }

  & svg {
    width: 1.6rem;
  }
}

.providersWrapper {
  margin-block-start: 0.8rem;
  margin-inline: auto;
  width: max-content;
}
.providerList {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, var(--provider-height));
  grid-auto-columns: var(--provider-width);
  gap: 0.3rem;

  list-style: none;
}
.provider {
  width: 100%;
  height: 100%;

  border-radius: 3px;

  border: 1px solid var(--filament-off-color);
  border-inline-end-color: transparent;
  border-block-start-color: transparent;

  background: #22252b;

  font-size: var(--text-size);
  color: #e2e1e1;

  &:focus {
    position: relative;
    z-index: 1;

    outline: none;
    color: var(--filament-color);
    border-color: var(--filament-color);
    border-inline-start-width: 4px;
    border-block-end-width: 2px;

    box-shadow:
      inset 3px -3px 5px 0px rgb(var(--light-first-color), var(--light-opacity-on)), inset 2px 0px 5px 0px
      rgb(var(--light-second-color), var(--light-opacity-on)),
      0px 0px 7px 0px rgb(var(--light-first-color), var(--light-opacity-on)), 0px 0px 7px 0px
      rgb(var(--light-second-color), var(--light-opacity-on));
  }
  &:hover {
    background: #3c4250;
    cursor: pointer;
  }
}
.noProviders {
}
