:root {
  --filament-off-color: #685b2ecc;
  --filament-color: #ffd43b;
  --filament-support-color: #ff6600;
  --dark-shadow-color: #0e1013;
  --input-background-color: #23272f;
  --backdrop-color: #23272f70;

  --modal-background-utils: #202124;
  --modal-background-app: #20212457;

  --text-user-focus-color: #ffffff;
  --text-user-blur-color: #7c827f;
  --input-size: 3.6rem;
  --modal-border-radius: 1.6rem;
  --text-size: 1.1rem;
  --provider-width: 170px;
  --provider-height: 2.6rem;

  --input-autofill-cover: 0 0 0px 1000px var(--input-background-color) inset;
  --input-volume: 5px 5px 10px #383e4b inset, -5px -5px 10px var(--dark-shadow-color) inset;
  --input-glow-external-off: 0 0 20px #ffd43b00, 0 0 20px #ff660000;
  --input-glow-internal-off: 0 0 10px #ffd43b00 inset, 0 0 10px #ff660000 inset;
  --input-glow-external-on: 0 0 20px var(--filament-color), 0 0 20px var(--filament-support-color);
  --input-glow-internal-on: 0 0 10px var(--filament-color) inset, 0 0 10px var(--filament-support-color) inset;

  --other-element-glow:
    0px 0px 15px var(--filament-color) inset,
    0px 0px 5px var(--filament-support-color) inset,
    0px 0px 15px var(--filament-support-color),
    0px 0px 5px var(--filament-color);
}
* {
  box-sizing: border-box;
}
