:root {
  --layout-tab-color: #101215;
  --search-color: #23272f;
  --searchWrapper-shadow-top-color: #383e4b;
  --searchWrapper-shadow-bottom-color: #0e1013;
  --search-size: 3.6rem;
  --light-out-position: 0px 0px 20px;
  --light-inset-position: inset 0px 0px 10px;
  --light-first-color: 255, 213, 59;
  --light-second-color: 255, 102, 0;
  --light-opacity-off: 0%;
  --light-opacity-on: 50%;
  --text-size: 1.1rem;
  --filament-color: #ffd43b;
  --text-user-focus-color: #ffffff;
  --text-user-blur-color: #7c827f;
  --text-placeholder-color: #6d6d6d;
  --provider-width: 170px;
  --provider-height: 2.6rem;

  --filament-off-color: #685b2ecc;
}
* {
  box-sizing: border-box;
}
