.wrapper {
  border: 1px solid var(--config-color-border);

  background-color: var(--config-color-backdrop_1);
  color: var(--config-color-text_2);

  padding-inline-start: 30.4px;
  padding-inline-end: 1.3rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;

  &:focus-within,
  &:hover {
    box-shadow: 0 0 5px 0 var(--filament-color_2);
    border-color: transparent;
    color: var(--filament-color_2);
  }
}

.title {
  flex: 1 0 auto;

  margin-block: 15px;

  color: inherit;

  font-family: var(--font_2);
  font-size: 1.17rem;
  font-weight: bold;
}

.edit,
.disable {
  block-size: 27px;

  border: none;
  background-color: transparent;

  color: var(--config-color-text_2);

  cursor: pointer;

  & svg {
    color: inherit;
    block-size: 100%;
  }
}
.edit {
  &:focus {
    outline: 2px solid var(--filament-color_2);
    color: var(--filament-color_2);
  }
  &:hover {
    color: var(--filament-color_1);
  }
  &:active {
    color: var(--filament-color_2);
    outline: none;
  }
}

.disable {
  &:hover {
    color: var(--config-color-delete_1-0);
  }
  &:focus {
    color: var(--config-color-delete_1-0);
    outline: 2px solid var(--config-color-delete_1-0);
  }
  &:active {
    color: var(--config-color-delete_1-1);
    outline: none;
  }
}

/* --------------------------------------------- */

.wrapper:has(.animation-to-disable:focus, .animation-to-disable:hover) .title {
  text-decoration: 2px solid line-through var(--config-color-delete_1-0);
  color: var(--config-color-border);
  transition: ease-in 0.3s;
}
.wrapper:has(.animation-to-disable:active) .title {
  text-decoration: 12px solid line-through var(--config-color-delete_1-1);
  transition: ease-in 0.1s;
}
